* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
    background: linear-gradient(rgb(47,150,163),rgb(48, 62, 143));

  background-position: center;
  background-size: cover;
  font-family: sans-serif;


}





/* For desktop: */
.col-1 {width: 8.33%; height: 8.33%;}
.col-2 {width: 16.66%; height: 16.66%;}
.col-3 {width: 25%; height: 25%;}
.col-4 {width: 33.33%; height: 33%;}
.col-5 {width: 41.66%; height: 41%;}
.col-6 {width: 50%; height: 50%;}
.col-7 {width: 58.33%; height: 58%;}
.col-8 {width: 66.66%; height: 66%;}
.col-9 {width: 75%; height: 75%;}
.col-10 {width: 83.33%; height: 83%;}
.col-11 {width: 91.66%; height: 91%;}
.col-12 {width: 100%; height: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
