.classname
{
width:100px;
height:50px;
background:rgb(19, 18, 18);

animation:anyname 2s;
-moz-animation:anyname 2s; /* Firefox */
-webkit-animation:anyname 2s; /* Safari and Chrome */
animation-direction:alternate;
-moz-animation-direction:alternate;
-webkit-animation-direction:alternate;
animation-timing-function:linear;
-moz-animation-timing-function:linear; /* Firefox */
-webkit-animation-timing-function:linear; /* Safari and Chrome */
}

@keyframes anyname
{
from {margin-left:0px;}
to {margin-left:600px;}
}
@-moz-keyframes anyname /* Firefox */
{
from {margin-left:0px;}
to {margin-left:600px;}
}
@-webkit-keyframes anyname /* Safari and Chrome */
{
from {margin-left:0px;}
to {margin-left:600px;}
}

div #box {
    background: #d13809;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    width: 95px;
    display: inline-block;
}


#growing { 
  transition: font-size 3s, color 2s;
}